<div class="fields">
  <%= f.input :name %>
  <%= f.input :title %>
  <%= f.input :email %>
  <%= f.input :phone %>
  <%= f.input :organisation %>
  <%= f.input :organisation_address, input_html: { rows: 10 } %>
  <%= link_to_remove_fields 'Remove', f, 'contact_remove' %>
</div>
