<%= simple_form_for(@assessment, :html => { :id => 'assessment-form', :class => 'form-edit' }) do |f| %>
  <fieldset>
    <div class="heading">
      <h2><%= action %> assessment</h2>
      <%= link_to 'Back', @assessment, :class => 'btn btn-brown' %>
    </div>
    <%= f.error_notification %>

    <div class='block' id="title">
      <h3>Title</h3>
      <div class='row'>

        <%= f.input :title, as: :string, label: 'Full name of the assessment', wrapper_html: {:class => 'field'} %>
      </div>
      <div class='row'>
        <%= f.input :short_title, label: 'Short name of the assessment (if applicable)', wrapper_html: {:class => 'field'} %>
      </div>
    </div>
    <div class="block" id="geographical_coverage">
      <h3>Geographical coverage</h3>

      <div class='row'>
        <%= f.simple_fields_for :answers, answer_object(@assessment, 'geo_scale') do |builder| %>
          <%= builder.input :answer_type, as: :hidden %>
          <%= builder.input :text_value, as: :select, label: 'Geographical scale of the assessment', collection: ['Global', 'Regional', 'Sub-regional', 'National', 'Sub-national', 'Set of sites', 'Single site'], input_html: { class: 'select2 span8', multiple: true }, selected: answer_object(@assessment, 'geo_scale').text_value.try(:split, ',') %>
        <% end %>
      </div>

      <div class='row'>
        <%= f.simple_fields_for :answers, answer_object(@assessment, 'geo_countries') do |builder| %>
          <%= builder.input :answer_type, as: :hidden %>
          <%= builder.input :text_value, as: :select, label: 'Countries covered', collection: Country.all.map { |c| [c.name, c.id] }, input_html: { class: 'select_geo_countries span8', multiple: true }, selected: answer_object(@assessment, 'geo_countries').text_value.try(:split, ',') %>
        <% end %>
      </div>

      <div class='row'>
        <%= f.simple_fields_for :answers, answer_object(@assessment, 'geo_info') do |builder| %>
          <%= builder.input :answer_type, as: :hidden %>
          <%= builder.input :text_value, label: 'Any other necessary information or explanation for identifying the location of the assessment, including site or region name', input_html: { rows: 10 } %>
        <% end %>
      </div>
    </div>
    <div class="block" id="conceptual_framework">
      <h3>Conceptual framework, methodology and scope</h3>

      <div class='row'>
        <%= f.simple_fields_for :answers, answer_object(@assessment, 'objectives') do |builder| %>
          <%= builder.input :answer_type, as: :hidden %>
          <%= builder.input :text_value, label: 'Assessment objectives', input_html: { rows: 10 } %>
        <% end %>
      </div>

      <div class='row'>
        <%= f.simple_fields_for :answers, answer_object(@assessment, 'mandate') do |builder| %>
          <%= builder.input :answer_type, as: :hidden %>
          <%= builder.input :text_value, label: 'Mandate for the assessment', input_html: { rows: 10 } %>
        <% end %>
      </div>

      <div class='row'>
        <%= f.simple_fields_for :answers, answer_object(@assessment, 'conceptual_framework') do |builder| %>
          <%= builder.input :answer_type, as: :hidden %>
          <%= builder.input :text_value, as: :radio_buttons, label: 'Conceptual framework and/or methodology used for the assessment', collection: ['Millennium Ecosystem Assessment (MA)', 'Global Environment Outlook (GEO)', 'The Economics of Ecosystems and Biodiversity (TEEB)', 'Other (please specify)'], input_html: { class: false } %>
        <% end %>
        <%= f.simple_fields_for :answers, answer_object(@assessment, 'conceptual_framework_other') do |builder| %>
          <%= builder.input :answer_type, as: :hidden %>
          <%= builder.input :text_value, as: :string, label: false, :input_html => {:class => 'other'} %>
        <% end %>
      </div>

      <h4>URL or copy of conceptual framework developed or adapted</h4>
      <div class='row'>
        <div id="conceptual_framework_urls">
          <%= f.simple_fields_for :references, reference_objects(@assessment, 'conceptual_framework_url') do |builder| %>
            <%= render 'reference_fields', :f => builder %>
          <% end %>
        </div>
        <%= link_to_add_fields 'Add a Reference', f, :references, 'conceptual_framework_url' %>
      </div>

      <div class='row'>
        <%= f.simple_fields_for :answers, answer_object(@assessment, 'systems_assessed') do |builder| %>
          <%= builder.input :answer_type, as: :hidden %>
          <%= builder.input :text_value, as: :check_boxes, label: 'System(s) assessed', collection: ['Marine', 'Coastal', 'Island', 'Inland water', 'Forest and woodland', 'Cultivated/Agricultural land', 'Grassland', 'Mountain', 'Dryland', 'Polar', 'Urban'], input_html: { class: false }, checked: answer_object(@assessment, 'systems_assessed').text_value.try(:split, ',') %>
        <% end %>

        <div id="systems_assessed_others" class="indent">
          <%= f.simple_fields_for :answers, answer_objects(@assessment, 'systems_assessed_other') do |builder| %>
            <%= render 'answer_fields', :f => builder, :input_html => {:class => 'other'} %>
          <% end %>
          <%= link_to_add_fields 'Add Answer', f, :answers, 'systems_assessed_other' %>
        </div>
      </div>


      <div class='row'>
        <%= f.simple_fields_for :answers, answer_object(@assessment, 'species_groups_assessed') do |builder| %>
          <%= builder.input :answer_type, as: :hidden %>
          <%= builder.input :text_value, as: :string, label: 'Species groups assessed' %>
        <% end %>
      </div>
    </div>
    <div class="block" id="ecosystem_services">
      <h3>Ecosystem services/functions assessed</h3>

      <div class='row'>
        <%= f.simple_fields_for :answers, answer_object(@assessment, 'provisioning') do |builder| %>
          <%= builder.input :answer_type, as: :hidden %>
          <%= builder.input :text_value, as: :check_boxes, label: 'Provisioning', collection: ['Food', 'Water', 'Timber/fibres', 'Genetic resources', 'Medicinal resources', 'Ornamental resources', 'Energy/fuel'], input_html: { class: false }, checked: answer_object(@assessment, 'provisioning').text_value.try(:split, ',') %>
        <% end %>

        <div id="provisioning_others" class="indent">
          <%= f.simple_fields_for :answers, answer_objects(@assessment, 'provisioning_other') do |builder| %>
            <%= render 'answer_fields', :f => builder %>
          <% end %>
        <%= link_to_add_fields 'Add Answer', f, :answers, 'provisioning_other' %>
        </div>
      </div>


      <div class='row'>
        <%= f.simple_fields_for :answers, answer_object(@assessment, 'regulating') do |builder| %>
          <%= builder.input :answer_type, as: :hidden %>
          <%= builder.input :text_value, as: :check_boxes, label: 'Regulating', collection: ['Air quality', 'Climate regulation', 'Moderation of extreme events', 'Regulation of water flows', 'Regulation of water quality', 'Waste treatment', 'Erosion prevention', 'Pollination', 'Pest and disease control'], input_html: { class: false }, checked: answer_object(@assessment, 'regulating').text_value.try(:split, ',') %>
        <% end %>

        <div id="regulating_others" class="indent">
          <%= f.simple_fields_for :answers, answer_objects(@assessment, 'regulating_other') do |builder| %>
            <%= render 'answer_fields', :f => builder %>
          <% end %>
          <%= link_to_add_fields 'Add Answer', f, :answers, 'regulating_other' %>
        </div>
      </div>


      <div class='row'>
        <%= f.simple_fields_for :answers, answer_object(@assessment, 'supporting') do |builder| %>
          <%= builder.input :answer_type, as: :hidden %>
          <%= builder.input :text_value, as: :check_boxes, label: 'Supporting Services/Functions', collection: ['Habitat maintenance', 'Nutrient cycling', 'Soil formation and fertility', 'Primary production'], input_html: { class: false }, checked: answer_object(@assessment, 'supporting').text_value.try(:split, ',') %>
        <% end %>

        <div id="supporting_others" class="indent">
          <%= f.simple_fields_for :answers, answer_objects(@assessment, 'supporting_other') do |builder| %>
            <%= render 'answer_fields', :f => builder %>
          <% end %>
          <%= link_to_add_fields 'Add Answer', f, :answers, 'supporting_other' %>
        </div>
      </div>

      <div class='row'>
        <%= f.simple_fields_for :answers, answer_object(@assessment, 'cultural_services') do |builder| %>
          <%= builder.input :answer_type, as: :hidden %>
          <%= builder.input :text_value, as: :check_boxes, label: 'Cultural Services', collection: ['Recreation and tourism', 'Spiritual, inspiration and cognitive development'], input_html: { class: false }, checked: answer_object(@assessment, 'cultural_services').text_value.try(:split, ',') %>
        <% end %>

        <div id="cultural_services_others" class="indent">
          <%= f.simple_fields_for :answers, answer_objects(@assessment, 'cultural_services_other') do |builder| %>
            <%= render 'answer_fields', :f => builder %>
          <% end %>
          <%= link_to_add_fields 'Add Answer', f, :answers, 'cultural_services_other' %>
        </div>
      </div>

      <h2>Scope of assessment includes</h2>

      <div class='row'>
        <%= f.simple_fields_for :answers, answer_object(@assessment, 'scope_drivers_of_change') do |builder| %>
          <%= builder.input :answer_type, as: :hidden %>
          <%= builder.input :text_value, as: :radio_buttons, label: 'Drivers of change in systems and services', input_html: { class: false } %>
        <% end %>
      </div>

      <div class='row'>
        <%= f.simple_fields_for :answers, answer_object(@assessment, 'scope_impacts_of_change') do |builder| %>
          <%= builder.input :answer_type, as: :hidden %>
          <%= builder.input :text_value, as: :radio_buttons, label: 'Impacts of change in services on human well-being', input_html: { class: false } %>
        <% end %>
      </div>

      <div class='row'>
        <%= f.simple_fields_for :answers, answer_object(@assessment, 'scope_options_for_responding') do |builder| %>
          <%= builder.input :answer_type, as: :hidden %>
          <%= builder.input :text_value, as: :radio_buttons, label: 'Options for responding/interventions to the trends observed', input_html: { class: false } %>
        <% end %>
      </div>

      <div class='row'>
        <%= f.simple_fields_for :answers, answer_object(@assessment, 'scope_explicit_consideration') do |builder| %>
          <%= builder.input :answer_type, as: :hidden %>
          <%= builder.input :text_value, as: :radio_buttons, label: 'Explicit consideration of the role of biodiversity in the systems and services covered by the assessment', input_html: { class: false } %>
        <% end %>
      </div>
    </div>
    <div class="block" id="timing">
      <h3>Timing of the assessment</h3>

      <div class='row'>
        <%= f.simple_fields_for :answers, answer_object(@assessment, 'year_started') do |builder| %>
          <%= builder.input :answer_type, as: :hidden %>
          <%= builder.input :text_value, as: :select, label: 'Year assessment started', collection: (2001..(Time.now.year + 2)).to_a.prepend('Pre 2000'), input_html: { class: 'select2' } %>
        <% end %>
      </div>

      <div class='row'>
        <%= f.simple_fields_for :answers, answer_object(@assessment, 'year_finished') do |builder| %>
          <%= builder.input :answer_type, as: :hidden %>
          <%= builder.input :text_value, as: :select, label: 'Year assessment finished', collection: (2001..(Time.now.year + 2)).to_a.prepend('Pre 2000').append('Ongoing'), input_html: { class: 'select2' } %>
        <% end %>
      </div>

      <div class='row'>
        <%= f.simple_fields_for :answers, answer_object(@assessment, 'anticipated_to_finish') do |builder| %>
          <%= builder.input :answer_type, as: :hidden %>
          <%= builder.input :text_value, as: :select, label: 'If ongoing, year assessment is anticipated to finish', collection: Time.now.year..2020, input_html: { class: 'select2' } %>
        <% end %>
      </div>

      <div class='row periodicity'>
        <%= f.simple_fields_for :answers, answer_object(@assessment, 'periodicity') do |builder| %>
          <%= builder.input :answer_type, as: :hidden %>
          <%= builder.input :text_value, as: :radio_buttons, label: 'Periodicity of assessment', collection: ['One off', 'Repeated'], input_html: { class: false } %>
        <% end %>
      </div>

      <div class='row how_frequently' <%= "style='display:none'" unless answer_object(@assessment, 'periodicity').text_value == 'Repeated' %>>
        <%= f.simple_fields_for :answers, answer_object(@assessment, 'how_frequently') do |builder| %>
          <%= builder.input :answer_type, as: :hidden %>
          <%= builder.input :text_value, as: :string, label: 'If repeated, how frequently' %>
        <% end %>
      </div>
    </div>
    <div class="block" id="outputs">
      <h3>Assessment outputs</h3>

      <div class='row'>
        <%= f.simple_fields_for :answers, answer_object(@assessment, 'websites') do |builder| %>
          <%= builder.input :answer_type, as: :hidden %>
          <%= builder.input :text_value, label: 'Website(s)' %>
        <% end %>
      </div>

      <h5>Report(s)</h5>
      <div class='row indent'>
        <div id="reports">
          <%= f.simple_fields_for :references, reference_objects(@assessment, 'reports') do |builder| %>
            <%= render 'reference_fields', :f => builder %>
          <% end %>
        </div>
        <%= link_to_add_fields 'Add a report', f, :references, 'reports' %>
      </div>

      <h5>Communication materials (e.g. brochure, presentations, posters, audio-visual media)</h5>
      <div class='row indent'>
        <div id="communication_materials">
          <%= f.simple_fields_for :references, reference_objects(@assessment, 'communication_materials') do |builder| %>
            <%= render 'reference_fields', :f => builder %>
          <% end %>
        </div>
        <%= link_to_add_fields 'Add a communication material', f, :references, 'communication_materials' %>
      </div>

      <h5>Journal Publications</h5>
      <div class='row indent'>
        <div id="journal_publications">
          <%= f.simple_fields_for :references, reference_objects(@assessment, 'journal_publications') do |builder| %>
            <%= render 'reference_fields', :f => builder %>
          <% end %>
        </div>
        <%= link_to_add_fields 'Add a publication', f, :references, 'journal_publications' %>
      </div>

      <h5>Training Materials</h5>
      <div class='row indent'>
        <div id="training_materials">
          <%= f.simple_fields_for :references, reference_objects(@assessment, 'training_materials') do |builder| %>
            <%= render 'reference_fields', :f => builder %>
          <% end %>
        </div>
        <%= link_to_add_fields 'Add a training material', f, :references, 'training_materials' %>
      </div>

      <h5>Other Documents/Outputs</h5>
      <div class='row indent'>
        <div id="other_documents">
          <%= f.simple_fields_for :references, reference_objects(@assessment, 'other_documents') do |builder| %>
            <%= render 'reference_fields', :f => builder %>
          <% end %>
        </div>
        <%= link_to_add_fields 'Add a document/output', f, :references, 'other_documents' %>
      </div>
    </div>
    <div class="block" id="tools_and_processes">
      <h3>Tools and processes</h3>

      <div class='row'>
        <%= f.simple_fields_for :answers, answer_object(@assessment, 'tools_and_approaches') do |builder| %>
          <%= builder.input :answer_type, as: :hidden %>
          <%= builder.input :text_value, as: :check_boxes, label: 'Tools and approaches used in the assessment', collection: ['Modelling', 'Trade-off analysis', 'Geospatial analysis', 'Indicators', 'Scenarios', 'Economic valuation', 'Social (non-monetary) valuation'], input_html: { class: false }, checked: answer_object(@assessment, 'tools_and_approaches').text_value.try(:split, ',') %>
        <% end %>

        <div id="tools_and_approaches_others" class="indent">
          <%= f.simple_fields_for :answers, answer_objects(@assessment, 'tools_and_approaches_other') do |builder| %>
            <%= render 'answer_fields', :f => builder %>
          <% end %>
          <%= link_to_add_fields 'Add Answer', f, :answers, 'tools_and_approaches_other' %>
        </div>
      </div>

      <h5>References</h5>
      <div class='row indent'>
        <div id="tools_and_approaches_other">
          <%= f.simple_fields_for :references, reference_objects(@assessment, 'tools_and_approaches_other') do |builder| %>
            <%= render 'reference_fields', :f => builder %>
          <% end %>
        <%= link_to_add_fields 'Add a reference', f, :references, 'tools_and_approaches_other' %>
        </div>
      </div>

      <div class='row'>
        <%= f.simple_fields_for :answers, answer_object(@assessment, 'process_used_for_stakeholder') do |builder| %>
          <%= builder.input :answer_type, as: :hidden %>
          <%= builder.input :text_value, label: 'Process used for stakeholder engagement in the assessment process and which component' %>
        <% end %>
      </div>

      <div class='row'>
        <%= f.simple_fields_for :answers, answer_object(@assessment, 'key_stakeholder') do |builder| %>
          <%= builder.input :answer_type, as: :hidden %>
          <%= builder.input :text_value, label: 'Key stakeholder groups engaged' %>
        <% end %>
      </div>

      <div class='row'>
        <%= f.simple_fields_for :answers, answer_object(@assessment, 'number_of_people') do |builder| %>
          <%= builder.input :answer_type, as: :hidden %>
          <%= builder.input :text_value, as: :select, label: 'The number of people directly involved in the assessment process', collection: ['Less than 10', '10-100', '100-1000', 'More than 1000'], input_html: { class: 'select2 span8' } %>
        <% end %>
      </div>

      <div class='row'>
        <%= f.simple_fields_for :answers, answer_object(@assessment, 'incorporation_of_knowledge') do |builder| %>
          <%= builder.input :answer_type, as: :hidden %>
          <%= builder.input :text_value, as: :check_boxes, label: 'Incorporation of scientific and other types of knowledge', collection: ['Scientific information only', 'Resource experts (e.g. foresters etc)', 'Traditional/local knowledge', 'Citizen science', 'Other (please specify)'], input_html: { class: nil }, checked: answer_object(@assessment, 'incorporation_of_knowledge').text_value.try(:split, ',') %>
        <% end %>
      </div>

      <h5>Supporting documentation for specific approaches, methodology or criteria developed and/or used to integrate knowledge systems into the assessment</h5>
      <div class='row indent'>
        <div id="supporting_documentation">
          <%= f.simple_fields_for :references, reference_objects(@assessment, 'supporting_documentation') do |builder| %>
            <%= render 'reference_fields', :f => builder %>
          <% end %>
        </div>
        <%= link_to_add_fields 'Add a document', f, :references, 'supporting_documentation' %>
      </div>

      <div class='row'>
        <%= f.simple_fields_for :answers, answer_object(@assessment, 'reports_peer') do |builder| %>
          <%= builder.input :answer_type, as: :hidden %>
          <%= builder.input :text_value, as: :radio_buttons, label: 'Assessment reports peer reviewed', input_html: { class: false } %>
        <% end %>
      </div>
    </div>
    <div class="block" id="data">
      <h3>Data</h3>

      <div class='row'>
        <%= f.simple_fields_for :answers, answer_object(@assessment, 'accessibility_of_data') do |builder| %>
          <%= builder.input :answer_type, as: :hidden %>
          <%= builder.input :text_value, label: 'Accessibility of data used in assessment' %>
        <% end %>
      </div>
    </div>
    <div class="block" id="policy_impact">
      <h3>Policy Impact</h3>

      <h5>Impacts the assessment has had on policy and/or decision making, as evidenced through policy references and actions</h5>
      <div id="impacts" class="indent row">
        <%= f.simple_fields_for :references, reference_objects(@assessment, 'impacts') do |builder| %>
          <%= render 'reference_fields', :f => builder %>
        <% end %>
        <%= link_to_add_fields 'Add a document', f, :references, 'impacts' %>
      </div>

      <div class='row'>
        <%= f.simple_fields_for :answers, answer_object(@assessment, 'review_on_policy') do |builder| %>
          <%= builder.input :answer_type, as: :hidden %>
          <%= builder.input :text_value, as: :radio_buttons, label: 'Independent or other review on policy impact of the assessment', input_html: { class: false } %>
        <% end %>
      </div>

      <h5>References</h5>
      <div id="review_on_policy" class="indent row">
        <%= f.simple_fields_for :references, reference_objects(@assessment, 'review_on_policy') do |builder| %>
          <%= render 'reference_fields', :f => builder %>
        <% end %>
        <%= link_to_add_fields 'Add a reference', f, :references, 'review_on_policy' %>
      </div>

      <div class='row'>
        <%= f.simple_fields_for :answers, answer_object(@assessment, 'lessons_learnt') do |builder| %>
          <%= builder.input :answer_type, as: :hidden %>
          <%= builder.input :text_value, label: 'Lessons learnt for future assessments from these reviews' %>
        <% end %>
      </div>
    </div>
    <div class="block" id="capacity_building">
      <h3>Capacity-building</h3>

      <div class='row'>
        <%= f.simple_fields_for :answers, answer_object(@assessment, 'capacity_building_needs') do |builder| %>
          <%= builder.input :answer_type, as: :hidden %>
          <%= builder.input :text_value, label: 'Capacity building needs idenfied during the assessment' %>
        <% end %>
      </div>

      <div class='row'>
        <%= f.simple_fields_for :answers, answer_object(@assessment, 'actions_taken_build_capacity') do |builder| %>
          <%= builder.input :answer_type, as: :hidden %>
          <%= builder.input :text_value, as: :check_boxes, label: 'Actions taken by the assessment to build capacity', collection: ['Fellowships/exchanges/secondments/mentoring programmes', 'Network and sharing experiences', 'Access to funding', 'Sharing of data/repatriation of data', 'Workshops', 'Developing/promoting and providing access to support tools', 'Formal training', 'Communication and awareness raising'], input_html: { class: nil }, checked: answer_object(@assessment, 'actions_taken_build_capacity').text_value.try(:split, ',') %>
        <% end %>

        <div id="actions_taken_build_capacity_others" class="indent">
          <%= f.simple_fields_for :answers, answer_objects(@assessment, 'actions_taken_build_capacity_others') do |builder| %>
            <%= render 'answer_fields', :f => builder %>
          <% end %>
          <%= link_to_add_fields 'Add Answer', f, :answers, 'tools_and_approaches_other' %>
        </div>
      </div>

      <div class='row'>
        <%= f.simple_fields_for :answers, answer_object(@assessment, 'gaps_in_capacity') do |builder| %>
          <%= builder.input :answer_type, as: :hidden %>
          <%= builder.input :text_value, label: 'How have gaps in capacity been communicated to the different stakeholders' %>
        <% end %>
      </div>
    </div>
    <div class="block" id="knowledge_generation">
      <h3>Knowledge generation</h3>

      <div class='row'>
        <%= f.simple_fields_for :answers, answer_object(@assessment, 'gaps_in_knowledge') do |builder| %>
          <%= builder.input :answer_type, as: :hidden %>
          <%= builder.input :text_value, label: 'Gaps in knowledge identified from the assessment' %>
        <% end %>
      </div>

      <div class='row'>
        <%= f.simple_fields_for :answers, answer_object(@assessment, 'gaps_in_knowledge_communicated') do |builder| %>
          <%= builder.input :answer_type, as: :hidden %>
          <%= builder.input :text_value, label: 'How gaps in knowledge have been communicated to the different stakeholders' %>
        <% end %>
      </div>

      <h5>References</h5>
      <div id="gaps_in_knowledge_communicated" class="row indent">
        <%= f.simple_fields_for :references, reference_objects(@assessment, 'gaps_in_knowledge_communicated') do |builder| %>
          <%= render 'reference_fields', :f => builder %>
        <% end %>
        <%= link_to_add_fields 'Add a reference', f, :references, 'gaps_in_knowledge_communicated' %>
      </div>
    </div>
    <div class="block" id="additional_information">
      <h3>Additional information</h3>

      <h5>Additional relevant information</h5>
      <div id="additional_information" class="row indent">
        <%= f.simple_fields_for :references, reference_objects(@assessment, 'additional_information') do |builder| %>
          <%= render 'additional_information', :f => builder %>
        <% end %>
        <%= link_to_add_fields 'Add additional information', f, :references, 'gaps_in_knowledge_communicated' %>
      </div>
    </div>

    <div class="heading">
      <h2 class="admin-only">Subsequent sections will only be visible to administrators</h2>
    </div>

    <hr />

    <div class="block" id="contacts">
      <h3>Contacts</h3>

      <div id="contacts" class="row indent">
        <%= f.simple_fields_for :contacts do |builder| %>
          <%= render 'contact_fields', :f => builder %>
        <% end %>
        <%= link_to_add_fields 'Add Contact', f, :contacts, 'contacts' %>
      </div>

    </div>
    <div class="block" id="note">
      <h3>Note</h3>

      <div class='row'>
        <%= f.input :note %>
      </div>
      <div class='row'>
        <%= f.input :published, as: :hidden, input_html: { class: nil, id: 'published-box' } %>
      </div>
    </div>
  </fieldset>
<% end %>
