<% content_for :javascript do %>
  if (typeof window.IPBES === 'undefined') {
    window.IPBES = {};
  }
  window.IPBES.page = <%= @page %>;
  $(function() {
    addMapMarkers(<%= countries_to_point_json(@countries) %>);
  });
<% end %>
<div class="row">
  <div class="span4">
    <h1>Catalogue of Assessments</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dignissim quam eu lectus consequat dapibus. Nulla eget consequat mauris. Donec eu turpis elit, quis elementum urna. Donec vestibulum congue porta. Morbi tempus, nisl ac rutrum tristique, nibh magna adipiscing nulla, vel commodo dui metus non eros.</p>
  </div>
  <div class="span8">
    <div id="map"></div>
    <p><em>Only countries are displayed on the map.</em></p>
  </div>
</div>
<div class="row">
  <div class="span4">
    <div class="row">
      <div class="span3"><input id="assessment-query" type="text" class="search-query full-width" value="<%= params[:q] %>"></div>
      <div class="span1"><button id="search-assessments-btn" type="submit" class="btn full-width">Search</button></div>
    </div>
    <div class="row" style="padding-bottom:10px">
      <div class="span3">
        <label class="checkbox">
          <%= check_box("search", "attachements", checked: params[:attachments] == 't') %>
          Search in attachments
        </label>
      </div>
      <div class="span1">
        <a href="#" id="clear_search" class="btn">Clear</a>
      </div>
    </div>

    <form class="well">
      <fieldset>
        <legend>Advanced search</legend>
        <div class="control-group">
          <label class="control-label" for="assessment_geo_scale">Geographical scale of the assessment</label>
          <div class="controls">
            <%= select('assessment', 'geo_scale', ['Global', 'Regional', 'Sub-regional', 'National', 'Sub-national', 'Set of sites', 'Single site'], {include_blank: true, selected: params[:geo_scale]}, {class: 'full-width'}) %>
          </div>
        </div>
      </fieldset>
    </form>

    <div class="action_buttons">
      <a href="#" onclick="window.print();return false" class="btn">Print search</a>
      <%= link_to 'Download excel', download_assessments_path(format: 'csv'), class: 'download_csv btn' %>
    </div>
  </div>
  <div class="span8">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Countries</th>
          <% if can?(:manage, Assessment) %>
            <th>Published</th>
          <% end %>
        </tr>
      </thead>
      <tbody id="loading-assessments" style="display:none">
        <tr>
          <td class="row" colspan="<%= can?(:manage, Assessment) ? 3 : 2 %>">
            <span class="loading-text">Loading assessments</span>
          </td>
        </tr>
      </tbody>
      <tbody id="assessment-search-results">
        <%= render @assessments %>
      </tbody>
    </table>
    <ul class="pager" id='assessment-paginator'>
      <%= render :partial => 'pagination', :locals => {:page => @page} %>
    </ul>
  </div>
</div>
