<% content_for :javascript do %>
  if (typeof window.IPBES === 'undefined') {
    window.IPBES = {};
  }
  window.IPBES.page = <%= @page %>;
  $(function() {
    <% unless @timeout_error %>
      addMapMarkers(<%= countries_to_point_json(@countries) %>);
    <% end %>
    setCountryFilter(<%= params['countryId'] %>);
  });
<% end %>
<div id="review-notice">Assessments are currently under review and content is subject to change</div>
<div class="map-holder">
  <div id="map" class='inactive'></div>
  <div id="country-hover"></div>
  <div id='map-cover' class="block">
    <div class="block-text">
      <h2>Catalogue of Assessments  on Biodiversity and Ecosystem Services</h2>
      <p>Welcome to the Catalogue of Assessments on Biodiversity and Ecosystem Services, a source of information on assessments of biodiversity and ecosystem services from the global to the sub-national scales.</p>
    </div>
    <form onsubmit="return false;" class="form-search">
      <fieldset>
        <p>Get started! Try searching below</p>
        <div class="row">
          <div class="field"><input id="assessment-query" type="text" value="<%= params[:q] %>" /></div>
        </div>
        <div class="row">
          <%= check_box("search", "attachements", checked: params[:attachments] == 't') %>
          <label for="search_attachements">Search in attachments</label>
        </div>
        <a id="search-assessments-btn" href="#" class="submit"><span>SEARCH</span></a>
      </fieldset>
    </form>
  </div>
  <div id='map-help'>Click a country to filter assessments</div>
  <a href='#' id='browse-map'>Browse the map</a>
  <div id="selected-country-strip"<%= " style='display:block;'" unless params[:country_id].blank? %>>
    <span><%= "Showing only assessments associated with #{@countries.first.name}" unless params[:country_id].blank? %></span>
    <a id="clear-country-selection" href="#" class="btn">Clear country selection</a>
  </div>
</div>
<div class="main-content">
  <div id="content">
    <table class="countries table table-bordered">
      <thead>
        <tr>
          <td>Title</td>
          <td>Countries</td>
          <% if can?(:manage, Assessment) %>
            <td>Published?</td>
            <td>Notes</td>
          <% end %>
        </tr>
      </thead>
      <tbody id="assessment-search-results">
      <%
        begin 
          Assessment.set_db_timeout # Potentially troublesome query, set a timeout
          raise if @timeout_error
      %>
          <%= render (@assessments.any? ? @assessments : 'no_results') %>
      <%
        rescue
          @timeout_error = true
      %>
          <%= render 'search_error' %>
      <% ensure
          Assessment.unset_db_timeout
        end
      %>
      </tbody>
    </table>
    <ul class="pager" id="assessment-paginator">
      <%
        begin 
          Assessment.set_db_timeout # Potentially troublesome query, set a timeout
          raise if @timeout_error
      %>
          <%= render 'pagination' %>
      <% ensure
          Assessment.unset_db_timeout
        end
      %>
    </ul>
  </div>
  <div id="sidebar" class="advanced-search">
    <form class="form-search" action="#">
      <fieldset>
        <div class="heading">
          <h2>Advanced search</h2><a href="#" id="clear_search" class="btn">Clear</a>
        </div>
        <div class="box">
          <div class="row">
            <strong class="title">Geographical scale</strong>
            <%= select('assessment', 'geo_scale', ['Global', 'Regional', 'Sub-regional', 'National', 'Sub-national', 'Set of sites', 'Single site'], {selected: params[:geo_scale].try(:split, ',')}, {class: 'select2 full-width', multiple: true}) %>
          </div>
          <div class="row">
            <strong class="title">Systems assessed</strong>
            <%= select('assessment', 'systems_assessed', ['Marine', 'Coastal', 'Island', 'Inland water', 'Forest and woodland', 'Cultivated/Agricultural land', 'Grassland', 'Mountain', 'Dryland', 'Polar', 'Urban'], {selected: params[:systems_assessed].try(:split, ',')}, {class: 'select2 full-width', multiple: true}) %>
          </div>
          <div class="row">
            <strong class="title">Ecosystem services/functions assessed</strong>
            <%= select('assessment', 'ecosystem_services_functions_assessed', grouped_options_for_select({'Provisioning' => ['Food', 'Water', 'Timber/fibres', 'Genetic resources', 'Medicinal resources', 'Ornamental resources', 'Energy/fuel', ['Other', 'other_provisioning']], 'Regulating' => ['Air quality', 'Climate regulation', 'Moderation of extreme events', 'Regulation of water flows', 'Regulation of water quality', 'Waste treatment', 'Erosion prevention', 'Pollination', 'Pest and disease control', ['Other', 'other_regulating']], 'Supporting services/Functions' => ['Habitat maintenance', 'Nutrient cycling', 'Soil formation and fertility', 'Primary production', ['Other', 'other_supporting']], 'Cultural' => ['Recreation and tourism', 'Spiritual, inspiration and cognitive development', ['Other', 'other_cultural']]}, params[:ecosystem_services_functions_assessed].try(:split, ',')), {}, {class: 'select2 full-width', multiple: true}) %>
          </div>
          <div class="row">
            <strong class="title">Tools and approaches used</strong>
            <%= select('assessment', 'tools_and_approaches', ['Modelling', 'Trade-off analysis', 'Geospatial analysis', 'Indicators', 'Scenarios', 'Economic valuation', 'Social (non-monetary) valuation'], {selected: params[:tools_and_approaches].try(:split, ',')}, {class: 'select2 full-width', multiple: true}) %>
          </div>
        </div>
        <div class="buttons">
          <a href="#" onclick="window.print();return false">PRINT SEARCH</a>
          <%= link_to 'DOWNLOAD EXCEL', download_assessments_path(format: 'csv') %>
        </div>
      </fieldset>
    </form>
  </div>
</div>
