<% content_for :javascript do %>
  $(function() {
    addMapMarkers(<%= countries_to_point_json(@assessment.countries) %>);
  });
<% end %>
<div class="page-header">
  <%= link_to :back, :class => 'btn' do %>
    <i class="icon-list-alt"></i>
    Back
  <% end %>
  <% if can? :update, Assessment %>
    <%= link_to edit_assessment_path(@assessment), class: 'btn btn-primary' do %>
      <i class="icon-pencil icon-white"></i>
      Edit
    <% end %>
  <% end %>
  <% if can? :destroy, Assessment %>
    <%= link_to @assessment, confirm: 'Are you sure?', method: :delete, class: 'btn btn-danger' do %>
      <i class="icon-remove icon-white"></i>
      Destroy
    <% end %>
  <% end %>
  <a href="#" onclick="window.print();return false" class="btn">Print Assessment</a>
  <%= link_to 'Download excel', download_assessments_path(format: 'csv'), class: 'download_csv btn' %>
  <h1><%= @assessment.title %> (<%= @assessment.short_title %>)</h1>
  <div style='margin-top:5px;'>
    <h2>Geographical coverage</h2>
  </div>
  <div class="row">
    <div class="span6">
      <div id="map"></div>
      <p><em>Only countries are displayed on the map.</em></p>
    </div>
    <div class="span6">
      <table class="table table-striped table-bordered">
        <tbody>
          <tr>
            <td>Geographical scale of the assessment</td>
            <td>
              <% @assessment.answers.where(answer_type: 'geo_scale').each do |answer| %>
                <%= answer.text_value %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>Countries covered</td>
            <td>
              <%= list_countries_without_multiple(@assessment) %>
            </td>
          </tr>
          <tr>
            <td>Any other necessary information or explanation for identifying the location of the assessment, including site or region name</td>
            <td>
              <% @assessment.answers.where(answer_type: 'geo_info').each do |answer| %>
                <%= answer.text_value %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<section id="geographical_coverage">


  <!--
  <h2>Geographical scale of the assessment</h2>

  <% @assessment.answers.where(answer_type: 'geo_scale').each do |answer| %>
    <p><%= answer.text_value %></p>
  <% end %>

  <h2>Countries covered</h2>

  <% @assessment.answers.where(answer_type: 'geo_countries').each do |answer| %>
    <p><%= answer.text_value %></p>
  <% end %>

  <h2>Any other necessary information or explanation for identifying the location of the assessment, including site or region name</h2>

  <% @assessment.answers.where(answer_type: 'geo_info').each do |answer| %>
    <p><%= answer.text_value %></p>
  <% end %>
  -->
</section>
<section id="conceptual_framework">
  <div class="page-header">
    <h1>Conceptual framework, methodology and scope</h1>
  </div>

  <h2>Assessment objectives</h2>

  <% @assessment.answers.where(answer_type: 'objectives').each do |answer| %>
    <p><%= answer.text_value %></p>
  <% end %>

  <h2>Mandate for the assessment</h2>

  <% @assessment.answers.where(answer_type: 'mandate').each do |answer| %>
    <p><%= answer.text_value %></p>
  <% end %>

  <h2>Conceptual framework and/or methodology used for the assessment</h2>

  <% @assessment.answers.where(answer_type: 'conceptual_framework').each do |answer| %>
    <p><%= answer.text_value %></p>
  <% end %>

  <% @assessment.answers.where(answer_type: 'conceptual_framework_other').each do |answer| %>
    <p><%= answer.text_value %></p>
  <% end %>

  <h2>URL or copy of conceptual framework developed or adapted</h2>

  <% @assessment.answers.where(answer_type: 'conceptual_framework_url').each do |answer| %>
    <p><%= answer.text_value %></p>
  <% end %>
  <h3>References</h3>
  <% @assessment.references.where(reference_type: 'conceptual_framework_url').each do |reference| %>
    <p>
      <%= reference.reference_text %><br/>
      <%= link_to reference.file.original_filename, reference.file.url %>
    </p>
  <% end %>


  <h2>System(s) assessed</h2>

  <% @assessment.answers.where(answer_type: 'systems_assessed').each do |answer| %>
    <p><%= answer.text_value %></p>
  <% end %>

  <% @assessment.answers.where(answer_type: 'systems_assessed_other').each do |answer| %>
    <p><%= answer.text_value %></p>
  <% end %>

  <h2>Species groups assessed</h2>

  <% @assessment.answers.where(answer_type: 'species_groups_assessed').each do |answer| %>
    <p><%= answer.text_value %></p>
  <% end %>
</section>
<section id="ecosystem_services">
  <h1>Ecosystem services/functions assessed</h1>

  <h2>Provisioning</h2>

  <% @assessment.answers.where(answer_type: 'provisioning').each do |answer| %>
    <p><%= answer.text_value %></p>
  <% end %>

  <% @assessment.answers.where(answer_type: 'provisioning_other').each do |answer| %>
    <p><%= answer.text_value %></p>
  <% end %>

  <h2>Regulating</h2>

  <% @assessment.answers.where(answer_type: 'regulating').each do |answer| %>
    <p><%= answer.text_value %></p>
  <% end %>

  <% @assessment.answers.where(answer_type: 'regulating_other').each do |answer| %>
    <p><%= answer.text_value %></p>
  <% end %>

  <h2>Supporting Services/Functions</h2>

  <% @assessment.answers.where(answer_type: 'supporting').each do |answer| %>
    <p><%= answer.text_value %></p>
  <% end %>

  <% @assessment.answers.where(answer_type: 'supporting_other').each do |answer| %>
    <p><%= answer.text_value %></p>
  <% end %>

  <h2>Cultural Services</h2>

  <% @assessment.answers.where(answer_type: 'cultural_services').each do |answer| %>
    <p><%= answer.text_value %></p>
  <% end %>

  <% @assessment.answers.where(answer_type: 'cultural_services_other').each do |answer| %>
    <p><%= answer.text_value %></p>
  <% end %>

  <h1>Scope of assessment includes</h1>

  <h2>Drivers of change in systems and services</h2>

  <% @assessment.answers.where(answer_type: 'scope_drivers_of_change').each do |answer| %>
    <p><%= answer.text_value %></p>
  <% end %>

  <h2>Impacts of change in services on human well-being</h2>

  <% @assessment.answers.where(answer_type: 'scope_impacts_of_change').each do |answer| %>
    <p><%= answer.text_value %></p>
  <% end %>

  <h2>Impacts of change in services on human well-being</h2>

  <% @assessment.answers.where(answer_type: 'scope_impacts_of_change').each do |answer| %>
    <p><%= answer.text_value %></p>
  <% end %>

  <h2>Options for responding/interventions to the trends observed</h2>

  <% @assessment.answers.where(answer_type: 'scope_options_for_responding').each do |answer| %>
    <p><%= answer.text_value %></p>
  <% end %>

  <h2>Explicit consideration of the role of biodiversity in the systems and services covered by the assessment</h2>

  <% @assessment.answers.where(answer_type: 'scope_explicit_consideration').each do |answer| %>
    <p><%= answer.text_value %></p>
  <% end %>
</section>
<section id="timing">
  <h1>Timing of the assessment</h1>

  <h2>Year assessment started</h2>

  <% @assessment.answers.where(answer_type: 'year_started').each do |answer| %>
    <p><%= answer.text_value %></p>
  <% end %>

  <h2>Year assessment finished</h2>

  <% @assessment.answers.where(answer_type: 'year_finished').each do |answer| %>
    <p><%= answer.text_value %></p>
  <% end %>

  <h2>If ongoing, year assessment is anticipated to finish</h2>

  <% @assessment.answers.where(answer_type: 'anticipated_to_finish').each do |answer| %>
    <p><%= answer.text_value %></p>
  <% end %>

  <h2>Periodicity of assessment</h2>

  <% @assessment.answers.where(answer_type: 'periodicity').each do |answer| %>
    <p><%= answer.text_value %></p>
  <% end %>

  <h2>If repeated, how frequently</h2>

  <% @assessment.answers.where(answer_type: 'how_frequently').each do |answer| %>
    <p><%= answer.text_value %></p>
  <% end %>
</section>
<section id="outputs">
  <h1>Assessment outputs</h1>

  <h2>Website(s)</h2>

  <% @assessment.answers.where(answer_type: 'websites').each do |answer| %>
    <p><%= answer.text_value %></p>
  <% end %>

  <h2>Report(s)</h2>

  <% @assessment.references.where(reference_type: 'reports').each do |reference| %>
    <p>
      <%= reference.reference_text %><br/>
      <%= link_to reference.file.original_filename, reference.file.url %>
    </p>
  <% end %>

  <h2>Communication materials (e.g. brochure, presentations, posters, audio-visual media)</h2>

  <% @assessment.references.where(reference_type: 'communication_materials').each do |reference| %>
    <p>
      <%= reference.reference_text %><br/>
      <%= link_to reference.file.original_filename, reference.file.url %>
    </p>
  <% end %>

  <h2>Journal publications</h2>

  <% @assessment.references.where(reference_type: 'journal_publications').each do |reference| %>
    <p>
      <%= reference.reference_text %><br/>
      <%= link_to reference.file.original_filename, reference.file.url %>
    </p>
  <% end %>

  <h2>Training materials</h2>

  <% @assessment.references.where(reference_type: 'training_materials').each do |reference| %>
    <p>
      <%= reference.reference_text %><br/>
      <%= link_to reference.file.original_filename, reference.file.url %>
    </p>
  <% end %>

  <h2>Other documents/outputs</h2>

  <% @assessment.references.where(reference_type: 'other_documents').each do |reference| %>
    <p>
      <%= reference.reference_text %><br/>
      <%= link_to reference.file.original_filename, reference.file.url %>
    </p>
  <% end %>
</section>
<section id="tools_and_processes">
  <h1>Tools and processes</h1>

  <h2>Tools and approaches used in the assessment</h2>

  <% @assessment.answers.where(answer_type: 'tools_and_approaches').each do |answer| %>
    <p><%= answer.text_value %></p>
  <% end %>

  <% @assessment.answers.where(answer_type: 'tools_and_approaches_other').each do |answer| %>
    <p><%= answer.text_value %></p>
  <% end %>
  <h5>References</h5>
  <% @assessment.references.where(reference_type: 'tools_and_approaches_other').each do |reference| %>
    <p>
      <%= reference.reference_text %><br/>
      <%= link_to reference.file.original_filename, reference.file.url %>
    </p>
  <% end %>

  <h2>Process used for stakeholder engagement in the assessment process and which component</h2>

  <% @assessment.answers.where(answer_type: 'process_used_for_stakeholder').each do |answer| %>
    <p><%= answer.text_value %></p>
  <% end %>

  <h2>Key stakeholder groups engaged</h2>

  <% @assessment.answers.where(answer_type: 'key_stakeholder').each do |answer| %>
    <p><%= answer.text_value %></p>
  <% end %>

  <h2>The number of people directly involved in the assessment process</h2>

  <% @assessment.answers.where(answer_type: 'number_of_people').each do |answer| %>
    <p><%= answer.text_value %></p>
  <% end %>

  <h2>Incorporation of scientific and other types of knowledge</h2>

  <% @assessment.answers.where(answer_type: 'incorporation_of_knowledge').each do |answer| %>
    <p><%= answer.text_value %></p>
  <% end %>

  <h2>Supporting documentation for specific approaches, methodology or criteria developed and/or used to integrate knowledge systems into the assessment</h2>

  <% @assessment.references.where(reference_type: 'supporting_documentation').each do |reference| %>
    <p>
      <%= reference.reference_text %><br/>
      <%= link_to reference.file.original_filename, reference.file.url %>
    </p>
  <% end %>

  <h2>Assessment reports peer reviewed</h2>

  <% @assessment.answers.where(answer_type: 'reports_peer').each do |answer| %>
    <p><%= answer.text_value %></p>
  <% end %>
</section>
<section id="data">
  <h1>Data</h1>

  <h2>Accessibility of data used in assessment</h2>

  <% @assessment.answers.where(answer_type: 'accessibility_of_data').each do |answer| %>
    <p><%= answer.text_value %></p>
  <% end %>
</section>
<section id="policy_impact">
  <h1>Policy Impact</h1>

  <h2>Impacts the assessment has had on policy and/or decision making, as evidenced through policy references and actions</h2>

  <% @assessment.references.where(reference_type: 'impacts').each do |reference| %>
    <p>
      <%= reference.reference_text %><br/>
      <%= link_to reference.file.original_filename, reference.file.url %>
    </p>
  <% end %>

  <h2>Independent or other review on policy impact of the assessment</h2>

  <% @assessment.answers.where(answer_type: 'review_on_policy').each do |answer| %>
    <p><%= answer.text_value %></p>
  <% end %>
  <% @assessment.references.where(reference_type: 'review_on_policy').each do |reference| %>
    <p>
      <%= reference.reference_text %><br/>
      <%= link_to reference.file.original_filename, reference.file.url %>
    </p>
  <% end %>

  <h2>Lessons learnt for future assessments from these reviews</h2>

  <% @assessment.answers.where(answer_type: 'lessons_learnt').each do |answer| %>
    <p><%= answer.text_value %></p>
  <% end %>
</section>
<section id="capacity_building">
  <h1>Capacity-building</h1>

  <h2>Capacity building needs idenfified during the assessment</h2>

  <% @assessment.answers.where(answer_type: 'capacity_building_needs').each do |answer| %>
    <p><%= answer.text_value %></p>
  <% end %>

  <h2>Actions taken by the assessment to build capacity</h2>

  <% @assessment.answers.where(answer_type: 'actions_taken_build_capacity').each do |answer| %>
    <p><%= answer.text_value %></p>
  <% end %>

  <h2>How have gaps in capacity been communicated to the different stakeholders</h2>

  <% @assessment.answers.where(answer_type: 'gaps_in_capacity').each do |answer| %>
    <p><%= answer.text_value %></p>
  <% end %>
</section>
<section id="knowledge_generation">
  <h1>Knowledge generation</h1>

  <h2>Gaps in knowledge identified from the assessment</h2>

  <% @assessment.answers.where(answer_type: 'gaps_in_knowledge').each do |answer| %>
    <p><%= answer.text_value %></p>
  <% end %>

  <h2>How gaps in knowledge have been communicated to the different stakeholders</h2>

  <% @assessment.answers.where(answer_type: 'gaps_in_knowledge_communicated').each do |answer| %>
    <p><%= answer.text_value %></p>
  <% end %>
  <% @assessment.references.where(reference_type: 'gaps_in_knowledge_communicated').each do |reference| %>
    <p>
      <%= reference.reference_text %><br/>
      <%= link_to reference.file.original_filename, reference.file.url %>
    </p>
  <% end %>
</section>
<section id="additional_information">
  <h1>Additional information</h1>

  <h2>Additional relevant information</h2>

  <% @assessment.answers.where(answer_type: 'additional_information').each do |answer| %>
    <p><%= answer.text_value %></p>
  <% end %>
</section>
