<% content_for :javascript do %>
  $(function() {
    addMapMarkers(<%= countries_to_point_json(@assessment.countries) %>);
  });
<% end %>
<div class="block-heading">
  <div class="headline">
    <h2 class="no-margin"><%= @assessment.title %></h2>
    <div class="buttons">
      <a href="#" onclick="window.print();return false">Print assessment</a>
      <%= link_to 'Download excel', download_assessment_assessment_path(@assessment, format: 'csv'), class: 'blue' %>
      <% if can? :update, Assessment %>
        <%= link_to 'Edit', edit_assessment_path(@assessment), class: 'btn' %>
      <% end %>
      <% if can? :destroy, Assessment %>
        <%= link_to 'Delete', @assessment, confirm: 'Are you sure?', method: :delete, class: 'btn btn-danger' %>
      <% end %>
    </div>
    <%= content_tag 'h3', @assessment.short_title if @assessment.short_title.present? %>
    <% if current_user && current_user.admin? && @assessment.last_editor.present? %>
      <span id='last-editor'>last edited by <%= link_to @assessment.last_editor, user_path(@assessment.last_editor) %></span>
    <% elsif current_user && @assessment.last_editor.present? %>
      <span id='last-editor'>last edited by <%= @assessment.last_editor %></span>
    <% end %>
  </div>
</div>

<div class='section'>
  <h2>Geographical coverage</h2>
  <div class="map-holder">
    <div id="map"></div>
    <table class="info">
      <tbody>
        <tr>
          <th>Geographical scale of the assessment</th>
          <td>
            <% @assessment.answers.where(answer_type: 'geo_scale').each do |answer| %>
              <%= answer.text_value %>
            <% end %>
          </td>
        </tr>
        <tr class="mark">
          <th>Country or countries covered</th>
          <td>
            <%= list_countries_without_multiple(@assessment) %>
          </td>
        </tr>
        <tr class="last-row">
          <th>Any other necessary information or explanation for identifying the location of the assessment, including site or region name</th>
          <td>
            <% @assessment.answers.where(answer_type: 'geo_info').each do |answer| %>
              <%= markdown answer.text_value %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="print-only">
    <h3>Geographical scale of the assessment</h3>

    <% @assessment.answers.where(answer_type: 'geo_scale').each do |answer| %>
      <p><%= answer.text_value %></p>
    <% end %>

    <h3>Country or countries covered</h3>

    <p>
      <%= list_countries_without_multiple(@assessment) %>
    </p>

    <h3>Any other necessary information or explanation for identifying the location of the assessment, including site or region name</h3>

    <% @assessment.answers.where(answer_type: 'geo_info').each do |answer| %>
      <%= markdown answer.text_value %>
    <% end %>
  </div>
</div>

<div class="section-container">
  <div class='section' id="conceptual_framework">
    <h2>Conceptual framework, methodology and scope</h2>

    <div class='block'>
      <h3>Assessment objectives</h3>

      <% @assessment.answers.where(answer_type: 'objectives').each do |answer| %>
        <%= markdown answer.text_value %>
      <% end %>
    </div>

    <div class='block'>
      <h3>Mandate for the assessment</h3>

      <% @assessment.answers.where(answer_type: 'mandate').each do |answer| %>
        <%= markdown answer.text_value %>
      <% end %>
    </div>

    <div class='block'>
      <h3>Conceptual framework and/or methodology used for the assessment</h3>

      <% @assessment.answers.where(answer_type: 'conceptual_framework').each do |answer| %>
        <p><%= answer.text_value %></p>
      <% end %>

      <% @assessment.answers.where(answer_type: 'conceptual_framework_other').each do |answer| %>
        <p><%= answer.text_value %></p>
      <% end %>
    </div>

    <div class='block'>
      <h3>URL or copy of conceptual framework developed or adapted</h3>

      <% @assessment.answers.where(answer_type: 'conceptual_framework_url').each do |answer| %>
        <p>
          <%= answer.text_value %>
        </p>
      <% end %>

      <% @assessment.references_alphabetical.where(reference_type: 'conceptual_framework_url').each do |reference| %>
        <p>
          <%= reference.reference_text %><br/>
          <%= link_to reference.file.original_filename, reference.file.url if reference.file? %>
        </p>
      <% end %>
    </div>

    <div class='block'>
      <h3>System(s) assessed</h3>

      <p>
        <ul>
          <% @assessment.answers.where(answer_type: 'systems_assessed').each do |answer| %>
            <% extract_answers(answer.text_value).each do |sub_answer| %>
              <li><%= sub_answer %></li>
            <% end %>
          <% end %>

          <% @assessment.answers.where(answer_type: 'systems_assessed_other').each do |answer| %>
            <li><%= answer.text_value %></li>
          <% end %>
        </ul>

      </p>
    </div>

    <div class='block'>
      <h3>Species groups assessed</h3>

      <% @assessment.answers.where(answer_type: 'species_groups_assessed').each do |answer| %>
        <p><%= answer.text_value %></p>
      <% end %>
    </div>

    <h3>Ecosystem services/functions assessed</h3>

    <div class='block'>
      <h3>Provisioning</h3>

      <p>
        <ul>
          <% @assessment.answers.where(answer_type: 'provisioning').each do |answer| %>
            <% extract_answers(answer.text_value).each do |sub_answer| %>
              <li><%= sub_answer %></li>
            <% end %>
          <% end %>

          <% @assessment.answers.where(answer_type: 'provisioning_other').each do |answer| %>
            <li><%= answer.text_value %></li>
          <% end %>
        </ul>
      </p>
    </div>

    <div class='block'>
      <h3>Regulating</h3>

      <p>
        <ul>
          <% @assessment.answers.where(answer_type: 'regulating').each do |answer| %>
            <% extract_answers(answer.text_value).each do |sub_answer| %>
              <li><%= sub_answer %></li>
            <% end%>
          <% end %>

          <% @assessment.answers.where(answer_type: 'regulating_other').each do |answer| %>
            <li><%= answer.text_value %></li>
          <% end %>
        </ul>

      </p>
    </div>

    <div class='block'>
      <h3>Supporting Services/Functions</h3>

      <p>
        <ul>
          <% @assessment.answers.where(answer_type: 'supporting').each do |answer| %>
            <% extract_answers(answer.text_value).each do |sub_answer| %>
              <li><%= sub_answer %></li>
            <% end%>
          <% end %>

          <% @assessment.answers.where(answer_type: 'supporting_other').each do |answer| %>
            <li><%= answer.text_value %></li>
          <% end %>
        </ul>

      </p>
    </div>

    <div class='block'>
      <h3>Cultural Services</h3>

      <p>
        <ul>
          <% @assessment.answers.where(answer_type: 'cultural_services').each do |answer| %>
            <% extract_answers(answer.text_value).each do |sub_answer| %>
              <li><%= sub_answer %></li>
            <% end%>
          <% end %>

          <% @assessment.answers.where(answer_type: 'cultural_services_other').each do |answer| %>
            <li><%= answer.text_value %></li>
          <% end %>
        </ul>

      </p>
    </div>

    <h2>Scope of assessment includes</h2>

    <div class='block'>
      <h3>Drivers of change in systems and services</h3>

      <% @assessment.answers.where(answer_type: 'scope_drivers_of_change').each do |answer| %>
        <p><%= answer.text_value == 'true' ? 'Yes' : 'No' %></p>
      <% end %>
    </div>

    <div class='block'>
      <h3>Impacts of change in services on human well-being</h3>

      <% @assessment.answers.where(answer_type: 'scope_impacts_of_change').each do |answer| %>
        <p><%= answer.text_value == 'true' ? 'Yes' : 'No' %></p>
      <% end %>
    </div>

    <div class='block'>
      <h3>Options for responding/interventions to the trends observed</h3>

      <% @assessment.answers.where(answer_type: 'scope_options_for_responding').each do |answer| %>
        <p><%= answer.text_value == 'true' ? 'Yes' : 'No' %></p>
      <% end %>
    </div>

    <div class='block'>
      <h3>Explicit consideration of the role of biodiversity in the systems and services covered by the assessment</h3>

      <% @assessment.answers.where(answer_type: 'scope_explicit_consideration').each do |answer| %>
        <p><%= answer.text_value == 'true' ? 'Yes' : 'No' %></p>
      <% end %>
    </div>
  </div>
  <div class='section' id="timing">
    <h2>Timing of the assessment</h2>

    <div class='block'>
      <h3>Year assessment started</h3>

      <% year_started = @assessment.answers.where(answer_type: 'year_started')
      year_started.each do |answer| %>
        <p><%= answer.text_value %></p>
      <% end %>
    </div>

    <div class='block'>
      <h3>Year assessment finished</h3>

      <% year_finished = @assessment.answers.where(answer_type: 'year_finished')
      year_finished.each do |answer| %>
        <p><%= answer.text_value %></p>
      <% end %>
    </div>

    <div class='block'>
      <h3>If ongoing, year assessment is anticipated to finish</h3>

      <% anticipated_to_finish = @assessment.answers.where(answer_type: 'anticipated_to_finish')
      anticipated_to_finish.each do |answer| %>
        <p><%= answer.text_value %></p>
      <% end %>
    </div>

    <div class='block'>
      <h3>Periodicity of assessment</h3>

      <% periodicity = @assessment.answers.where(answer_type: 'periodicity')
      periodicity.each do |answer| %>
        <p><%= answer.text_value %></p>
      <% end %>
    </div>

    <% if answer_object(@assessment, 'periodicity').text_value == 'Repeated' %>
      <div class='block'>
        <h3>If repeated, how frequently</h3>

        <% how_frequently = @assessment.answers.where(answer_type: 'how_frequently')
        how_frequently.each do |answer| %>
          <p><%= answer.text_value %></p>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class='section' id="outputs">
    <h2>Assessment outputs</h2>

    <div class='block'>
      <h3>Website(s)</h3>

      <% websites = @assessment.answers.where(answer_type: 'websites')
      websites.each do |answer| %>
        <p><%= markdown answer.text_value %></p>
      <% end %>
    </div>

    <div class='block'>
      <h3>Report(s)</h3>

      <% @assessment.references_alphabetical.where(reference_type: 'reports').each do |reference| %>
        <p>
          <%= reference.reference_text %><br/>
          <%= link_to reference.file.original_filename, reference.file.url if reference.file? %>
        </p>
      <% end %>
    </div>

    <div class='block'>
      <h3>Communication materials (e.g. brochure, presentations, posters, audio-visual media)</h3>

      <% @assessment.references_alphabetical.where(reference_type: 'communication_materials').each do |reference| %>
        <p>
          <%= reference.reference_text %><br/>
          <%= link_to reference.file.original_filename, reference.file.url if reference.file? %>
        </p>
      <% end %>
    </div>
    <div class='block'>
      <h3>Journal publications</h3>

      <% @assessment.references_alphabetical.where(reference_type: 'journal_publications').each do |reference| %>
        <p>
          <%= reference.reference_text %><br/>
          <%= link_to reference.file.original_filename, reference.file.url if reference.file? %>
        </p>
      <% end %>
    </div>
    <div class='block'>
      <h3>Training materials</h3>

      <% @assessment.references_alphabetical.where(reference_type: 'training_materials').each do |reference| %>
        <p>
          <%= reference.reference_text %><br/>
          <%= link_to reference.file.original_filename, reference.file.url if reference.file? %>
        </p>
      <% end %>
    </div>
    <div class='block'>
      <h3>Other documents/outputs</h3>

      <% @assessment.references_alphabetical.where(reference_type: 'other_documents').each do |reference| %>
        <p>
          <%= reference.reference_text %><br/>
          <%= link_to reference.file.original_filename, reference.file.url if reference.file? %>
        </p>
      <% end %>
    </div>
  </div>
  <div class='section' id="tools_and_processes">
    <h2>Tools and processes</h2>

    <div class='block'>
      <h3>Tools and approaches used in the assessment</h3>

      <p>
        <ul>
          <% @assessment.answers.where(answer_type: 'tools_and_approaches').each do |answer| %>
            <% extract_answers(answer.text_value).each do |sub_answer| %>
              <li><%= sub_answer %></li>
            <% end%>
          <% end %>

          <% @assessment.answers.where(answer_type: 'tools_and_approaches_other').each do |answer| %>
            <li><%= answer.text_value %></li>
          <% end %>
        </ul>

      </p>

      <% @assessment.references_alphabetical.where(reference_type: 'tools_and_approaches_other').each do |reference| %>
        <p>
          <%= reference.reference_text %><br/>
          <%= link_to reference.file.original_filename, reference.file.url if reference.file? %>
        </p>
      <% end %>
    </div>
    <div class='block'>
      <h3>Process used for stakeholder engagement in the assessment process and which component</h3>

      <% process_used_for_stakeholder = @assessment.answers.where(answer_type: 'process_used_for_stakeholder')
      process_used_for_stakeholder.each do |answer| %>
        <%= markdown answer.text_value %>
      <% end %>
    </div>
    <div class='block'>
      <h3>Key stakeholder groups engaged</h3>

      <% key_stakeholder = @assessment.answers.where(answer_type: 'key_stakeholder') || []
      key_stakeholder.each do |answer| %>
        <%= markdown answer.text_value %>
      <% end %>
    </div>
    <div class='block'>
      <h3>The number of people directly involved in the assessment process</h3>

      <% number_of_people = @assessment.answers.where(answer_type: 'number_of_people') || []
      number_of_people.each do |answer| %>
        <p><%= answer.text_value %></p>
      <% end %>
    </div>
    <div class='block'>
      <h3>Incorporation of scientific and other types of knowledge</h3>

      <p>
        <ul>
          <% @assessment.answers.where(answer_type: 'incorporation_of_knowledge').each do |answer| %>
            <% extract_answers(answer.text_value).each do |sub_answer|%>
              <li><%= sub_answer %></li>
            <% end %>
          <% end %>

          <% @assessment.answers.where(answer_type: 'incorporation_of_knowledge_others').each do |answer| %>
            <li><%= answer.text_value %></li>
          <% end %>
        </ul>
      </p>
    </div>
    <div class='block'>
      <h3>Supporting documentation for specific approaches, methodology or criteria developed and/or used to integrate knowledge systems into the assessment</h3>

      <% supporting_documentation_text = @assessment.answers.where(answer_type: 'supporting_documentation_text') || []
      supporting_documentation_text.each do |answer| %>
        <%= markdown answer.text_value %>
      <% end %>

      <% @assessment.references_alphabetical.where(reference_type: 'supporting_documentation').each do |reference| %>
        <p>
          <%= reference.reference_text %><br/>
          <%= link_to reference.file.original_filename, reference.file.url if reference.file? %>
        </p>
      <% end %>
    </div>
    <div class='block'>
      <h3>Assessment reports peer reviewed</h3>

      <% @assessment.answers.where(answer_type: 'reports_peer').each do |answer| %>
        <p><%= answer.text_value == 'true' ? 'Yes' : 'No' %></p>
      <% end %>
    </div>
  </div>
  <div class='section' id="data">
    <h2>Data</h2>

    <div class='block'>
      <h3>Accessibility of data used in assessment</h3>

      <% @assessment.answers.where(answer_type: 'accessibility_of_data').each do |answer| %>
        <%= markdown answer.text_value %>
      <% end %>
    </div>
  </div>
  <div class='section' id="policy_impact">
    <h2>Policy impact</h2>

    <div class='block'>
      <h3>Impacts the assessment has had on policy and/or decision making, as evidenced through policy references and actions</h3>

      <% @assessment.answers.where(answer_type: 'impacts_text').each do |answer| %>
        <%= markdown answer.text_value %>
      <% end %>

      <% @assessment.references_alphabetical.where(reference_type: 'impacts').each do |reference| %>
        <p>
          <%= reference.reference_text %><br/>
          <%= link_to reference.file.original_filename, reference.file.url if reference.file? %>
        </p>
      <% end %>

    </div>
    <div class='block'>
      <h3>Independent or other review on policy impact of the assessment</h3>

      <% @assessment.answers.where(answer_type: 'review_on_policy').each do |answer| %>
        <p><%= answer.text_value == 'true' ? 'Yes' : 'No' %></p>
      <% end %>
      <% @assessment.references_alphabetical.where(reference_type: 'review_on_policy').each do |reference| %>
        <p>
          <%= reference.reference_text %><br/>
          <%= link_to reference.file.original_filename, reference.file.url if reference.file? %>
        </p>
      <% end %>
    </div>
    <div class='block'>
      <h3>Lessons learnt for future assessments from these reviews</h3>

      <% lessons_learnt = @assessment.answers.where(answer_type: 'lessons_learnt')
      lessons_learnt.each do |answer| %>
        <%= markdown answer.text_value %>
      <% end %>
    </div>
  </div>
  <div class='section' id="capacity_building">
    <h2>Capacity building</h2>

    <div class='block'>
      <h3>Capacity building needs identified during the assessment</h3>

      <% capacity_building_needs = @assessment.answers.where(answer_type: 'capacity_building_needs')
      capacity_building_needs.each do |answer| %>
        <%= markdown answer.text_value %>
      <% end %>

    </div>
    <div class='block'>
      <h3>Actions taken by the assessment to build capacity</h3>

      <% actions_taken_build_capacity = @assessment.answers.where(answer_type: 'actions_taken_build_capacity')
      actions_taken_build_capacity.each do |answer| %>
        <p><%= answer.text_value.split(',').join(', ') %></p>
      <% end %>
    </div>
    <div class='block'>
      <h3>How have gaps in capacity been communicated to the different stakeholders</h3>

      <% gaps_in_capacity = @assessment.answers.where(answer_type: 'gaps_in_capacity')
      gaps_in_capacity.each do |answer| %>
        <%= markdown answer.text_value %>
      <% end %>
    </div>
    <div class='section' id="knowledge_generation">
      <h2>Knowledge generation</h2>
    </div>
    <div class='block'>
      <h3>Gaps in knowledge identified from the assessment</h3>

      <% gaps_in_knowledge = @assessment.answers.where(answer_type: 'gaps_in_knowledge')
      gaps_in_knowledge.each do |answer| %>
        <%= markdown answer.text_value %>
      <% end %>

    </div>
    <div class='block'>
      <h3>How gaps in knowledge have been communicated to the different stakeholders</h3>

      <% gaps_in_knowledge_communicated = @assessment.answers.where(answer_type: 'gaps_in_knowledge_communicated')
      gaps_in_knowledge_communicated.each do |answer| %>
        <%= markdown answer.text_value %>
      <% end %>
      <% @assessment.references_alphabetical.where(reference_type: 'gaps_in_knowledge_communicated').each do |reference| %>
        <p>
          <%= reference.reference_text %><br/>
          <%= link_to reference.file.original_filename, reference.file.url if reference.file? if reference.file? %>
        </p>
      <% end %>

    </div>
  </div>
  <div class='section last' id="additional_information">
    <h2>Additional relevant information</h2>

    <% @assessment.answers.where(answer_type: 'additional_information_text').each do |answer| %>
      <%= markdown answer.text_value %>
    <% end %>

    <div class='block'>
      <% @assessment.answers.where(answer_type: 'additional_information').each do |answer| %>
        <p><%= answer.text_value %></p>
      <% end %>
    </div>
  </div>
</div>
