<div class="page-header">
  <h2>Sign up</h2>
</div>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-horizontal' }, defaults: { input_html: { class: 'input-xxlarge' }}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :name %>
    <%= f.input :institution %>
    <%= f.input :description, hint: 'Please include title of the assessment you will be adding or editing' %>
    <%= f.input :password, required: true %>
    <%= f.input :password_confirmation, required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up", class: 'btn-primary' %>
    <%= render "devise/shared/links" %>
  </div>
<% end %>
