<div class="page-header">
  <% if params[:approved] == 'false' %>
    <%= link_to users_path, class: 'btn' do %>
      <i class="icon-list-alt icon-white"></i>
      All Users
    <% end %>
  <% else %>
    <%= link_to users_path(approved: 'false'), class: 'btn btn-warning' do %>
      <i class="icon-exclamation-sign icon-white"></i>
      Users awaiting approval
    <% end %>
  <% end %>
  <h1>Listing users</h1>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Institution</th>
      <th>Approved</th>
      <th>Admin</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
<% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.institution %></td>
      <td><%= user.approved? ? 'Yes' : 'No' %></td>
      <td><%= user.admin? ? 'Yes' : 'No' %></td>
      <td><%= link_to 'Show', user %></td>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
    </tr>
<% end %>
  </tbody>
</table>
