<div class="page-header">
  <%= link_to users_path, :class => 'btn' do %>
    <i class="icon-list-alt"></i>
    Back
  <% end %>
  <%= link_to edit_user_path(@user), :class => 'btn btn-primary' do %>
    <i class="icon-pencil icon-white"></i>
    Edit
  <% end %>
  <h1>Listing users</h1>
</div>

<dl>
  <dt>Email:</dt>
  <dd><%= @user.email %></dd>
  <dt>Name:</dt>
  <dd><%= @user.name %></dd>
  <dt>Institution:</dt>
  <dd><%= @user.institution || '-' %></dd>
  <dt>Description:</dt>
  <dd><%= @user.description || '-' %></dd>
  <dt>Approved:</dt>
  <dd><%= @user.approved? ? 'Yes' : 'No' %></dd>
  <dt>Admin:</dt>
  <dd><%= @user.admin? ? 'Yes' : 'No' %></dd>
</dl>
