<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>IPBES Assessment Catalogue</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <%= link_to "IPBES Assessment Catalogue", root_path, :class => "brand" %>
        <div class="nav-collapse">
          <ul class="nav">
            <li class="active"><%= link_to "Home", root_path %></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
          <% if user_signed_in? %>
            <ul class="nav pull-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.email %> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Profile', edit_user_registration_path %></li>
                  <% if current_user.editor? %>
                    <li><a href="#">Assessments</a></li>
                  <% elsif current_user.admin? %>
                    <li><%= link_to 'Assessments', root_path %></li>
                    <li><%= link_to 'Users', users_path %></li>
                  <% end %>
                  <li class="divider"></li>
                  <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></a></li>
                </ul>
              </li>
            </ul>
          <% else %>
            <ul class="nav pull-right">
              <li><%= link_to 'Log In', new_user_session_path %></li>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, :class => "alert #{name == :error ? "alert-error" : "alert-success" }" do %>
        <a class="close" data-dismiss="alert" href="#">×</a>
        <%= msg %>
      <% end %>
    <% end %>
    <%= yield %>
    <hr>
    <footer>
      <p>&copy; UNEP-WCMC 2012</p>
    </footer>
  </div>
</body>
</html>
