<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>IPBES</title>
    <meta name="google-site-verification" content="op-y1zSx2tsSFN-DHN0gqxBY9_tUrDsicpHk_N4T_f4" />

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34262615-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic' rel='stylesheet' type='text/css' />
    <%= stylesheet_link_tag    "application", media: "screen" %>
    <%= stylesheet_link_tag    "print", media: "print" %>
    <!--[if lte IE 8]>
      <script src="/assets/leaflet.ie.css"></script>
    <![endif]-->

    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <script type='text/javascript'>
      <%= yield :javascript %>
    </script>
  </head>
  <body>
    <div id="wrapper" class="home">
      <div class="w1">
        <div class="w2">
          <div id="header">
            <h1 class="logo"><a href="/"><%= image_tag "logo.png",  width:"118", height:"56", alt:"ipbes" %></a></h1>
            <div class="container">
              <ul id="nav">
                <li><%= link_to "Home", root_path %></li>
                <li><%= link_to "About the Catalogue", about_path %></li>
                <li><%= link_to "Contact", contact_path %></li>
              </ul>
              <% if user_signed_in? %>
                <div id='user-panel'>
                  <%= link_to current_user, edit_user_registration_path, :class => 'login' %>
                  <ul id='login-options'>
                    <li><%= link_to 'New Assessment', new_assessment_path if can?(:create, Assessment) %></li>
                    <li><%= link_to 'Users', users_path if can?(:manage, User) %></li>
                    <li class="divider"></li>
                    <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></a></li>
                  </ul>
                </div>
              <% else %>
                <%= link_to 'Login to add/edit data', new_user_session_path, :class => 'login' %>
              <% end %>
            </div>
          </div>
          <div id="main">
            <% flash.each do |name, msg| %>
              <%= content_tag :div, :class => "alert #{name == :error ? "alert-error" : "alert-success" }" do %>
                <a class="close" data-dismiss="alert" href="#">×</a>
                <%= msg %>
              <% end %>
            <% end %>
            <%= yield %>
          </div>
          <div id="footer">
            <div class="block-text">
              <strong class="logo"><%= link_to image_tag('logo-01.gif', width: 118, height: 56, alt: 'IPBES'), 'http://www.ipbes.net' %></strong>
              <p>Copyright &copy; 2012 Intergovernmental Platform on Biodiversity and Ecosystem Services</p>
            </div>
            <div class="logo-holder">
              <%= link_to image_tag('https://s3.amazonaws.com/wcmc.logo/UN-Environment-%20logo%202017.svg', width: 100, height: 55, alt: 'UNEP', class: 'logo__image svg'), 'http://www.unep.org/' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
