<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>IPBES</title>
    <meta name="google-site-verification" content="op-y1zSx2tsSFN-DHN0gqxBY9_tUrDsicpHk_N4T_f4" />

    <!--[if lte IE 8]>
      <script src="/assets/leaflet.ie.css"></script>
    <![endif]-->

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34262615-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>


    <link media="all" rel="stylesheet" type="text/css" href="css/all.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic' rel='stylesheet' type='text/css' />
    <script type="text/javascript" src="js/main.js"></script>
    <%= stylesheet_link_tag    "application", media: "screen,print" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <script type='text/javascript'>
      <%= yield :javascript %>
    </script>
  </head>
  <body>
    <div id="wrapper" class="home">
      <div class="w1">
        <div class="w2">
          <div id="header">
            <h1 class="logo"><a href="/"><%= image_tag "logo.png",  width:"118", height:"56", alt:"ipbes" %></a></h1>
            <div class="container">
              <ul id="nav">
                <li><%= link_to "Home", root_path %></li>
                <li><a href="#">About the Catalogue</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
              <% if user_signed_in? %>
                <div id='user-panel'>
                  <%= link_to current_user, current_user, :class => 'login' %>
                  <ul id='login-options'>
                    <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
                    <li><%= link_to 'New Assessment', new_assessment_path if can?(:create, Assessment) %></li>
                    <li><%= link_to 'Users', users_path if can?(:manage, User) %></li>
                    <li class="divider"></li>
                    <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></a></li>
                  </ul>
                </div>
              <% else %>
                <%= link_to 'Login to add/edit data', new_user_session_path, :class => 'login' %>
              <% end %>
            </div>
          </div>
          <div id="main">
            <%= yield %>
          </div>
          <div id="footer">
            <div class="block-text">
              <strong class="logo"><a href="#"><%= image_tag "logo-01.gif", width:"118", height:"56", alt:"ipbes" %></a></strong>
              <p>Copyright &copy; 2012 Intergovernmental Platform on Biodiversity and Ecosystem Services</p>
            </div>
            <div class="logo-holder">
              <a href="#"><%= image_tag "logo-02.gif", width:"56", height:"67", alt:"unep" %></a>
              <a href="#"><%= image_tag "logo-04.gif", width:"66", height:"67", alt:"sga network" %></a>
              <a href="#"><%= image_tag "logo-03.gif", width:"100", height:"67", alt:"wcmc" %></a>
              <a href="#"><%= image_tag "logo-02.gif", width:"56", height:"67", alt:"unep" %></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
